@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    font-family: 'PT Serif';
    background-image: url(pawel-czerwinski-KarT442iSUk-unsplash.jpg);
}

.satu {
    line-height: 2;
    padding: 20px;
    background-image: none;
    font-family: 'PT serif';
    margin: 50px;
    padding-left: 250px;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 25px;
    color: black;
    font-family: 'Raleway';
}

nav {
    padding: 5px;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #F08080;
}

nav a {
    font-size: 19px;
    font-weight: 300;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

ul li a {
    color: white;
}

img {
    width: 250px;
    float: right;
    border-radius: 50%;
    margin-right: 200px;
}