@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

body {
    font-family: 'PT Serif';
    background-image: url(pawel-czerwinski-KarT442iSUk-unsplash.jpg);
}

.jumbotron {
    font-size: 18px;
    padding: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'PT Serif';
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 25px;
    color: black;
    font-family: 'Raleway';
}

nav {
    padding: 5px;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #F08080;
}

nav a {
    font-size: 19px;
    font-weight: 300;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

table {
    width: 1250px;
    margin-top: 100px;
    text-align: center;
    background-image: url(pawel-czerwinski-KarT442iSUk-unsplash.jpg);
}

tr, th, td {
    border: 1px solid #F08080;
}

.satu ul {
    list-style-type: none;
    line-height: 1.5;
    padding: 20px;
    background-image: none;
}

.dua ul {
    list-style-type: none;
    background-image: url(back.jpg);
    padding: 20px;
    margin-top: 100px;
    font-weight: bold;
}

.dua img {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul li a {
    color: white;
}